.app {
  height: 100%;
  background-color: #EEEEEE;
  border-top: 4px solid #7AA5D2;
  overflow: auto;
}

.push-top {
  margin-top: 2em;
}

.push-bottom {
  margin-bottom: 2em;
}

.middle {
  top: 24%;
}

.main-header {
  color: red;
}

.logo {
  width: 50%;
  height: 50%;
}
