.app {
  height: 100%;
  background-color: #EEEEEE;
  border-top: 4px solid black;
  overflow: auto;
}

.push-top {
  margin-top: 2em;
}

.push-bottom {
  margin-bottom: 2em;
}

.logo {
  width: 50%;
  height: 50%;
}
